table {
    width: 100%;
}

td, th {
    border: solid 1px
}

th {
    background-color:lightgray;
}

tr:nth-child(odd) {
    background: lightgray;
}
.place-order {
    display: flex;
    justify-content:end;
    align-items: end;
}